.button {
	max-width: none;
	align-items: center;
	appearance: none;
	background: var(--button-background-color);
	border: var(--button-border-width) solid var(--button-border-color);
	border-radius: var(--button-border-radius);
	color: var(--button-color);
	cursor: pointer;
	display: inline-flex;
	font-family: var(--font-family);
	font-weight: var(--font-weight-bold);
	gap: var(--space-2xs);
	justify-content: center;
	line-height: var(--line-height);
	padding: var(--button-padding-y) var(--button-padding-x);
	text-decoration: none;
	user-select: none;
	white-space: nowrap;
	vertical-align: middle;
	width: auto;
	text-align: center;

	&[data-alignment="left"] {
		margin-right: auto;
	}

	&[data-alignment="center"] {
		margin-inline: auto;
	}

	&[data-alignment="right"] {
		margin-left: auto;
	}
}
