.block-type-button {
  display: flex;

  & [data-alignment="left"] {
    margin-right: auto;
  }

  & [data-alignment="centered"] {
    margin-inline: auto;
  }

  & [data-alignment="right"] {
    margin-left: auto;
  }

}