@import url("../variables/_breakpoints.css");

.block-type-video {
	position: relative;

	& figure {
		aspect-ratio: var(--aspect-ratio);
		margin-block: var(--clea-size-4);

		@media (--desktop) {
			margin-block: var(--clea-size-1);
		}

		& video,
		& iframe {
			width: 100%;
			height: 100%;
			object-position: center;
			object-fit: var(--object-fit, "contain");
			display: flex;
			border: 0;
		}

		& figcaption {
			padding: var(--clea-size-7) var(--clea-size-6) 0 var(--clea-size-6);
			font-family: var(--clea-font-family);
		}
	}

	& .privacy-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;

		& .privacy-overlay__background {
			grid-row: 1 / -1;
			grid-column: 1 / -1;
			position: relative;
			z-index: 2;

			& img {
				border-radius: var(--clea-border-radius);
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		& .privacy-overlay__content {
			grid-row: 1 / -1;
			grid-column: 1 / -1;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			z-index: 3;
			padding: 1.5em;

			& .privacy-overlay__content__inner {
				border-radius: var(--clea-border-radius);
				color: var(--clea-base-color-invert);
				background-color: var(--clea-base-color);
				padding: 2em;
				text-align: center;
			}
		}
	}
}