@import "../variables/_media-queries.css";

.block-type-video {
	position: relative;

	& figure {
		aspect-ratio: var(--aspect-ratio);

		& video,
		& iframe {
			width: 100%;
			height: 100%;
			object-position: center;
			object-fit: var(--object-fit, "contain");
			display: flex;
			border: 0;
		}

		& figcaption {
			padding: var(--font-size-7) var(--font-size-6) 0 var(--font-size-6);
			font-family: var(--font-family);
			margin: 0;
		}
	}

	& privacy-video {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
	}

	& .privacy-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;

		& .privacy-overlay__background {
			grid-row: 1 / -1;
			grid-column: 1 / -1;
			position: relative;
			z-index: 2;

			& img {
				border-radius: var(--border-radius);
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		& .privacy-overlay__content {
			grid-row: 1 / -1;
			grid-column: 1 / -1;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			flex-direction: column;
			z-index: 3;
			padding: var(--space-m);

			& .privacy-overlay__content__inner {
				border-radius: var(--border-radius);
				color: var(--color-base);
				background-color: var(--color-base-background);
				padding: var(--space-s) var(--space-s-m);
				text-align: center;
				flex-wrap: wrap;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: var(--space-xs);
				align-items: center;
				width: 100%;

				@media (--m) {
					justify-content: space-between;
				}
			}
		}
	}
}