:root {
	--clea-size-1-min: 2.74671rem;
	--clea-size-1-pref: calc(2.38842rem + 1.9902vw);
	--clea-size-1-max: 4.1963rem;
	--clea-size-2-min: 2.4413rem;
	--clea-size-2-pref: calc(2.1228rem + 1.5924vw);
	--clea-size-2-max: 3.3569rem;
	--clea-size-3-min: 1.9531rem;
	--clea-size-3-pref: calc(1.6983rem + 1.2739vw);
	--clea-size-3-max: 2.6856rem;
	--clea-size-4-min: 1.5625rem;
	--clea-size-4-pref: calc(1.3586rem + 1.0196vw);
	--clea-size-4-max: 2.1488rem;
	--clea-size-5-min: 1.25rem;
	--clea-size-5-pref: calc(1.087rem + 0.8152vw);
	--clea-size-5-max: 1.7188rem;
	--clea-size-6-min: 1rem;
	--clea-size-6-pref: calc(0.8696rem + 0.6522vw);
	--clea-size-6-max: 1.2rem;
	--clea-size-7-min: 0.8rem;
	--clea-size-7-pref: calc(0.6957rem + 0.5217vw);
	--clea-size-7-max: 1.1rem;
}
